<section class="problems-banner">
  <p>We Solve an awesome amount of problems!</p>
</section>

<div class="problems-gallery">
  <% @problems.each do |problem| %>
  <div class="problem-card">
  <p><%= problem.name %></p>
  <p class= "problem-image"><%= image_tag problem.image_url %></p>

  <a class="problem-button"> <%= link_to "About this problem", problem_path(problem.id) %></a>
  </div>
<% end %>
</div>
