
  <div class="plumbers-banner">
  </div>

  <div class="plumbers-gallery">
    <% @plumbers.each do |plumber| %>
    <div class="plumber-card">
    <h1 class= "plumber-image"><%= plumber.name %></h1>
    <p><%= image_tag plumber.image_url %></p>

    <p class="plumber-button"> <%= link_to "see details of this plumber", plumber_path(plumber.id) %></p>
    </div>
<% end %>
</div>
