/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a:active {
     color: black;
     font-style: normal;
     display:inline;
     text-align: center;
     transition: all 200ms ease;
     font-size: 20px;

   }

 a:hover {
     color: white;
     font-style: normal;
     display:inline;
     text-align: center;
     transition: all 200ms ease;
     font-size: 20px;
   }

  a:visited {
     color: white;
     font-style: normal;
     display:inline;
     text-align: center;
     transition: all 200ms ease;
     font-size: 20px;

   }

.nav-bar-total {
    text-align: center;
  }

 .nav-bar {
   font-family: 'Monserrat', sans-serif;
   line-height: 1.6;
   font-size: 14px;
   text-align: center;
   padding: 5px;
   border: 5px;
   color: white;
   }

.top-title-webpage {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
  visited: blue;
  color: white;
  }

.copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: darkgrey;
    background-color: white;
}
