a {
    text-decoration: none;
    }

.problems-banner {
  font-family: 'Bungee', sans-serif;
  line-height: 1.6;
  font-size: 28px;
  text-align: center;
}

.problems-gallery{
  display: block;
  padding: 10px, 10px, 10px, 10px;
  margin: 40px 0;
  }

.problem-card{
  display: inline-block;
  position: relative;
  top: 20px;
  left: 10px;
  max-width: 340px;
  margin: 20px;
  padding: 10px;
  background-color: #d4ddf7;

  }

.problem-image img{
  width: 300px;
  margin: 20px 20px 20px 20px;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 14px;
  color: #515151
}

.problem-button{
  background-color:#295293;
  font-family: 'Montserrat'
}
/*dit is de nieuwe versie*/
