body{
  font-family: 'Montserrat';
  background-color: grey;
  display: block;
}
div{
  font-family: 'Bungee';
}

.problem-page-image {
  height: 150px;
  width: 600px;
  display: inline;
}
